@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Poppins:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-header: "Great Vibes", cursive;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

.animated-item {
  opacity: 0;
}
